
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #C3B091;
  /*  box-shadow: 0px 0px 10px gray;*/ /*→ para hacer una caja*/
}

.img{
    margin-top: 15px;
    width: 2.5%;
    margin-right: 2rem;
    vertical-align: middle;
    transition: 2.8s;
}

header h1{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #5F7464;
    font-size: 35px;
    text-decoration: underline;
    margin-top: 15px;  
}

.menu{
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    text-align: center;
    
}

.menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    color: rgb(8, 57, 48);
    font-size: 1.1rem;
}

.menu ul li{
    display: flex;
    margin: 0.5rem;
    background-color: #5F7464;
    border-radius: 1.3rem;
    padding: 0.6rem;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(8, 57, 48);
}

/* esto se hace para cuando se pase el mause por el los li muestre un color en especial */
.menu ul li:hover{
    background-image:linear-gradient(#3d4956, #6987a8);
    /*background-color: #2E4C6D;*/
    border-radius: 2rem;
    transform: translate(4px, 4px);
}

main{
    margin-left: 1rem;
    margin-right: 1rem;
}

main h2{
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
    color: rgb(94, 130, 112);
}

.h3Uno{
    text-align: center;
    color: rgb(8, 57, 48);
    
}

.h3Dos{
    text-align: center;
    color: rgb(8, 57, 48);
}

.h3Tres{
    text-align: center;
    color: rgb(8, 57, 48);
}

.pImgUno{
    text-align: center;
}

.pImgDos{
    text-align: center;
}

.pImgTres{
    text-align: center;
}

.imgUno{
    width: 96%;
    height: 350px;
    margin: 0 auto;
     
}

.imgDos{
    width: 96%;
    height: 350px;
    margin: 0 auto;
}

.imgTres{
    width: 96%;
    height: 350px;
    margin: 0 auto;
}

/*-------------------- M-Q Index-----------------*/

    .mainImgIndex{
        height: 256vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 1fr;
        grid-template-areas: "submenu"
                             "caja1"
                             "caja2"
                             "caja3"; 
      
 }

 .submenu{
    grid-area: submenu;
    text-align:center;
    }
    
    .caja1{
    grid-area: caja1;
    
    }
    
    .caja2{
    grid-area: caja2;
    
    
    }
    
    .caja3{
    grid-area: caja3; 
    }

@media screen and (min-width:600px) {
    .mainImgIndex{
        height: 130vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr;
        grid-template-areas: "submenu submenu"
                             "caja1 caja2"
                             "caja3 caja3";
    }
    }  
    
    

@media screen and (min-width:1024px) {

    .mainImgIndex{
        height: 70vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.3fr 1fr;
        grid-template-areas: "submenu submenu submenu"
                             "caja1 caja2 caja3";
    }
}  

/*---------------------------------------------------------------------------------------------*/



main div h3{
    text-align: center;
     
}

main div h3 a{
    text-decoration: none;
    color: rgb(8, 57, 48);
}

.imgDes1{
    width: 96%;
    height: 350px;
    margin: 0 auto;
}

.imgDes2{
    width: 96%;
    height: 350px;
    margin: 0 auto;
}

.imgDes3{
    width: 96%;
    height: 350px;
    margin: 0 auto;
}

.imgDes4{
    width: 96%;
    height: 350px;
    margin: 0 auto;
}

.imgDes5{
    width: 96%;
    height: 350px;
    margin: 0 auto;
}

.imgDes6{
    width: 96%;
    height: 350px;
    margin: 0 auto;
}

/*-------------------- M-Q Destinos-----------------*/
.mainImgDestinos{
    height: 337vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "pPrincipalMain"
                         "cajaDes1"
                         "cajaDes2"
                         "cajaDes3"
                         "cajaDes4"
                         "cajaDes5"
                         "cajaDes6"; 
  
}

.pPrincipalMain{
    grid-area: pPrincipalMain;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.cajaDes1{
    grid-area: cajaDes1;
}

.cajaDes2{
    grid-area: cajaDes2;
}

.cajaDes3{
    grid-area: cajaDes3;
}

.cajaDes4{
    grid-area: cajaDes4;
}

.cajaDes5{
    grid-area: cajaDes5;
}

.cajaDes6{
    grid-area: cajaDes6;
}


@media screen and (min-width:600px) {
    .mainImgDestinos{
        height: 156vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr 1fr;
        grid-template-areas: "pPrincipalMain pPrincipalMain"
                             "cajaDes1 cajaDes2"
                             "cajaDes3 cajaDes4"
                             "cajaDes5 cajaDes6";
    }
    }



    @media screen and (min-width:1024px) {

        .mainImgDestinos{
            height: 100vh;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 0.3fr 1fr 1fr;
            grid-template-areas: "pPrincipalMain pPrincipalMain pPrincipalMain"
                                 "cajaDes1 cajaDes2 cajaDes3"
                                 "cajaDes4 cajaDes5 cajaDes6";
        }
    }

/*-------------------------------------------------------------*/


.video{
    width: 96%;
    height: 350px;
    margin: 0 auto;
}

/*----------------------- M-Q ¿Que Hacer?----------------------*/


.mainQueHacer{
    height: 124vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "cajaQHacer1"
                         "cajaQHacer2";
}

.cajaQHacer1{
    grid-area: cajaQHacer1;
    display: grid;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.cajaQHacer2{
    grid-area: cajaQHacer2;
    display: grid
    
}

@media screen and (min-width:600px) {
    .mainQueHacer{
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr;
        grid-template-areas: "cajaQHacer1 cajaQHacer2";
        }
}

@media screen and (min-width:1024px) {
    .mainQueHacer{
        height: 68vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr;
        grid-template-areas: "cajaQHacer1 cajaQHacer2";
        }
}

/*-------------------------------------------------------------*/



.imgcultura1{
    width: 96%;
    margin: 0 auto;
}

.imgcultura2{
    width: 96%;
    margin: 0 auto;
}

/*--------------------------MQ-Cultuta------------------------*/

.mainCultura{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.8fr 0.8fr;
    grid-template-areas: "cajaCultura1"
                         "cajaCultura2"
                         "cajaCultura3";
    
}

.cajaCultura1{
    grid-area: cajaCultura1;
}

.cajaCultura2{
    grid-area: cajaCultura2;
}

.cajaCultura3{
    grid-area: cajaCultura3;
}

@media screen and (min-width:600px) {
    .mainCultura{
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.8fr 0.5fr;
        grid-template-areas: "cajaCultura1 cajaCultura1"
                             "cajaCultura2 cajaCultura3";
    }
}

@media screen and (min-width:1024px) {
    .mainCultura{
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.8fr 0.5fr;
        grid-template-areas: "cajaCultura1 cajaCultura1"
                             "cajaCultura2 cajaCultura3";
        justify-content: space-around;
    }
}










/*----------------------------------------------------------*/
main .formContacto{
    margin: auto;
    margin-top: 15rem;
    text-align: center;
    width: 28rem;
    height: 430px;
}

footer{
    background-color: #E4CDA7;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 18px;
    color: rgb(8, 57, 48);
}

footer a{
    text-decoration: none;
    color: rgb(8, 57, 48);
}