.mainImgIndex {
  height: 305vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr;
  grid-template-areas: "submenu" "caja1" "caja2" "caja3"; }

.submenu {
  grid-area: submenu;
  text-align: center; }

.caja1 {
  grid-area: caja1; }

.caja2 {
  grid-area: caja2; }

.caja3 {
  grid-area: caja3; }

@media screen and (min-width: 600px) {
  .mainImgIndex {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas: "submenu submenu" "caja1 caja2" "caja3 caja3"; } }

@media screen and (min-width: 1024px) {
  .mainImgIndex {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 1fr;
    grid-template-areas: "submenu submenu submenu" "caja1 caja2 caja3"; } }

.mainImgDestinos {
  height: 400vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "pPrincipalMain" "cajaDes1" "cajaDes2" "cajaDes3" "cajaDes4" "cajaDes5" "cajaDes6"; }

.pPrincipalMain {
  grid-area: pPrincipalMain;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem; }

.cajaDes1 {
  grid-area: cajaDes1; }

.cajaDes2 {
  grid-area: cajaDes2; }

.cajaDes3 {
  grid-area: cajaDes3; }

.cajaDes4 {
  grid-area: cajaDes4; }

.cajaDes5 {
  grid-area: cajaDes5; }

.cajaDes6 {
  grid-area: cajaDes6; }

@media screen and (min-width: 600px) {
  .mainImgDestinos {
    height: 210vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr 1fr;
    grid-template-areas: "pPrincipalMain pPrincipalMain" "cajaDes1 cajaDes2" "cajaDes3 cajaDes4" "cajaDes5 cajaDes6"; } }

@media screen and (min-width: 1024px) {
  .mainImgDestinos {
    height: 115vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.3fr 1fr 1fr;
    grid-template-areas: "pPrincipalMain pPrincipalMain pPrincipalMain" "cajaDes1 cajaDes2 cajaDes3" "cajaDes4 cajaDes5 cajaDes6"; } }

.mainQueHacer {
  height: 162vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr;
  grid-template-areas: "cajaQHacer1" "cajaQHacer2"; }

.cajaQHacer1 {
  grid-area: cajaQHacer1;
  display: grid;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif; }

.cajaQHacer2 {
  grid-area: cajaQHacer2;
  display: grid; }

@media screen and (min-width: 600px) {
  .mainQueHacer {
    height: 112vh;
    display: grid;
    padding-top: 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "cajaQHacer1 cajaQHacer2"; } }

@media screen and (min-width: 1024px) {
  .mainQueHacer {
    height: 68vh;
    display: grid;
    padding-top: 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-template-areas: "cajaQHacer1 cajaQHacer2"; } }

.mainCultura {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.8fr 0.8fr;
  grid-template-areas: "cajaCultura1" "cajaCultura2" "cajaCultura3"; }

.cajaCultura1 {
  grid-area: cajaCultura1; }

.cajaCultura2 {
  grid-area: cajaCultura2; }

.cajaCultura3 {
  grid-area: cajaCultura3; }

@media screen and (min-width: 600px) {
  .mainCultura {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 0.5fr;
    grid-template-areas: "cajaCultura1 cajaCultura1" "cajaCultura2 cajaCultura3"; } }

@media screen and (min-width: 1024px) {
  .mainCultura {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 0.5fr;
    grid-template-areas: "cajaCultura1 cajaCultura1" "cajaCultura2 cajaCultura3";
    justify-content: space-around; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #C3B091; }
  body header {
    background-color: #9b896d; }
    body header .img {
      margin-top: 15px;
      width: 2.5%;
      margin-right: 2rem;
      vertical-align: middle;
      transition: 3s; }
    body header h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #5F7464;
      font-size: 2rem;
      text-decoration: underline;
      margin-top: 15px; }
    body header .menuContacto {
      margin-top: 50px; }
      body header .menuContacto ul {
        font-size: 1rem; }
        body header .menuContacto ul li {
          margin: 0.5rem;
          background-color: #5F7464;
          border-radius: 1.3rem;
          padding: 0.6rem; }
          body header .menuContacto ul li:hover {
            background-image: linear-gradient(#3d4956, #6987a8);
            border-radius: 2rem;
            transform: translate(4px, 4px); }
          body header .menuContacto ul li a {
            text-decoration: none;
            color: #083930; }
  body main {
    margin-left: 1rem;
    margin-right: 1rem; }
    body main h2 {
      margin: 10px;
      padding-top: 30px;
      padding-bottom: 20px;
      font-size: 30px;
      color: #083930; }
    body main .caja1 .h3Uno {
      text-align: center;
      color: #083930; }
    body main .caja1 .pImgUno {
      text-align: center; }
    body main .caja1 .imgUno {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main .caja2 .h3Dos {
      text-align: center;
      color: #083930; }
    body main .caja2 .pImgDos {
      text-align: center; }
    body main .caja2 .imgDos {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main .caja3 .h3Tres {
      text-align: center;
      color: #083930; }
    body main .caja3 .pImgTres {
      text-align: center; }
    body main .caja3 .imgTres {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main div h3 {
      text-align: center;
      font-size: 1.5rem; }
      body main div h3 a {
        text-decoration: none;
        color: #083930; }
    body main .cajaDes1 .imgDes1 {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main .cajaDes2 .imgDes2 {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main .cajaDes3 .imgDes3 {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main .cajaDes4 .imgDes4 {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main .cajaDes5 .imgDes5 {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main .cajaDes6 .imgDes6 {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main .cajaQHacer2 .video {
      width: 96%;
      height: 350px;
      margin: 0 auto; }
    body main .cajaCultura2 .imgcultura1 {
      width: 96%;
      margin: 0 auto; }
    body main .cajaCultura3 .imgcultura2 {
      width: 96%;
      margin: 0 auto; }
    body main .form {
      width: 96%;
      margin: 0 auto; }
  body .formularioContacto {
    margin-top: 14rem;
    margin-bottom: 14.5rem; }
  body .subtituloH2Contacto {
    text-align: center; }
  body footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #E4CDA7;
    color: #ac5532;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0.8rem; }
    body footer a {
      text-decoration: none;
      color: #ac5532;
      font-size: 1.5rem; }
