//colores
$colorFondoBody: #C3B091;
$colorFondoHeader: #9b896d;  
$colorLetrasH1: #5F7464;
$colorLetrasH2: rgb(8, 57, 48);
$colorFondoli: #5F7464;
$colorFondoLiHover:linear-gradient(#3d4956, #6987a8);
$colorLetrasH3Index: rgb(8, 57, 48);
$colorLetrasH3Destinos: rgb(8, 57, 48);
$colorLetrasFooter: rgb(172, 85, 50);
$colorFondoFooter: #E4CDA7;

//Media Queris
$tablets: "(min-width:600px)";
$desktop: "(min-width:1024px)";